.button {
  background-color: #4caf50;
  color: white;
  margin-left: 1%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  min-width: 600px;
  max-width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.head {
  color: cornsilk;
  text-align: center;
}
