<div>
  <span class="adMess">
    <h3>Score list:</h3>
    <select
      class="custom-select"
      name="scoreFilterChoose"
      required
      [(ngModel)]="scoreFilterChoose"
    >
      <option value="Higest score">Higest score</option>
      <option value="Lower score">Lower score</option>
    </select>
    <p><input type="checkbox" [(ngModel)]="autoUpdateScores" />Auto Update</p>
  </span>

  <span class="ad">
    <p
      *ngFor="
        let playerScoreData of playerScoreData | scoreList: scoreFilterChoose;
        index as idx
      "
    >
      {{ playerScoreData.name }} : score {{ playerScoreData.score }}
    </p>
  </span>
</div>
