.adMess {
  float: left;
  margin-left: 20%;
  color: cornsilk;
  width: auto;

  /* width: 250px;
    height: 100px; */
  /* border: 1px solid #4caf50; */
}

.ad {
  margin-bottom: 20px;
  float: left;
  margin-left: 15%;
  color: cornsilk;
  width: 180px;
  height: auto;
  overflow: auto;
  position: relative;
  /* width: 250px;
    height: 100px; */
  /* border: 1px solid #4caf50; */
}

.custom-select {
  position: relative;
  font-family: Arial;
  background-color: #4caf50;
  color: cornsilk;
  border: 6px solid transparent;
  height: auto;
  width: 140px;
}
