<div class="container">
  <div class="head"><app-game-info></app-game-info></div>

  <div class="left">
    <app-game-instruction></app-game-instruction>

    <app-game-actions></app-game-actions>
  </div>

  <div class="center"><app-controller></app-controller></div>

  <div class="right"><app-score-list></app-score-list></div>

  <div class="bellow">
    <button class="button" (click)="changeClick()"><span></span>EXIT</button>
  </div>
  <div class="fotter"><app-follow-me></app-follow-me></div>
</div>
