<form class="head" [formGroup]="playerForm">
  <label>Your name:</label>
  <input
    class="input"
    type="text"
    formControlName="playerName"
    autocomplete="off"
  />
  <div *ngIf="!playerForm.controls.playerName?.valid">Wrong format</div>
  <p></p>
  <label>Student Id: </label>
  <input
    class="input"
    type="number"
    formControlName="playerId"
    autocomplete="off"
  />
  <br />
  <br />
  <h2>Chose theme color:</h2>
  <select formControlName="themeColor" id="colorSelect">
    <option value="default">Default</option>
    <option value="black-and-white">Dark</option>
  </select>
  <br />
  <br />
  <button
    class="button"
    type="button"
    id="startButton"
    (click)="
      passPlayerData.emit({
        name: playerForm.value.playerName,
        id: playerForm.value.playerId,
        color: playerForm.value.themeColor
      })
    "
    [disabled]="!playerForm.valid"
  >
    Start
  </button>
</form>
