<div>
  <form class="head" #form="ngForm" (submit)="submitForm(form.form)">
    <label>Your name:</label>
    <input
      class="input"
      ngModel
      #name="ngModel"
      name="name"
      type="text"
      required
      minlength="3"
    />
    <div *ngIf="name.touched && name.valid === false">Incorrect name</div>

    <br />

    <label>Your email:</label>
    <input
      class="input"
      ngModel
      #email="ngModel"
      name="email"
      type="text"
      required
      email
    />
    <div *ngIf="email.touched && email.valid === false">Incorrect email</div>

    <br />

    <button class="button" type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </form>
</div>
